input {
  border-radius: 50px;
  background-color: #183d3b;
  padding: 1.4rem 13rem 1rem 3rem;
  margin: 0px;
  font-size: 1.2rem;
  border-width: 2px;
  border-color: white;
  outline: none;

  font-family: 'Prosto One';
  color: rgb(255, 255, 255);
}

.error > input {
  border: 4px double red;
}