.btn {
  border-radius: 50px;
  background-color: #002422;
  color: #adff00;
  padding: 0.6rem 3rem;
  margin: 0rem 0.7rem;
  font-size: 1.7rem;
  border-width: 2.5px;
  border-color: white;
  outline: none;
  cursor: pointer;
}

.agree {
  padding: 0.6rem 1rem;
  margin: 0rem 0.7rem;
}

.login {
  padding: 0.6rem 1rem;
  margin: 0rem 12.7rem 0rem 1rem;
}

.pushButtons {
  width: 50rem;
  margin: 1rem 6.3rem;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-gap: 0rem;
}

.agree:hover,
.btn:hover {
  color: #ffffff;
}
