.home__maintext {
    font-size: 140px;
    color: #E9FFE1;
    position: absolute;
    top: 320px;
    left: 11%;
}

.home__maintext--point {
    color: #ADFF00;
}

.home__motivatetext {
    max-width: 634px;
    text-align: center;
    font-size: 30px;
    color: #E9FFE1;
    position: absolute;
    top: 422px;
    left: 60%;
}

.tosignup__btn {
    position: absolute;
    left: 75%;
    top: 590px;
}

@media (max-width: 1580px) {
    .home__motivatetext {
        max-width: 634px;
        text-align: center;
        font-size: 30px;
        color: #E9FFE1;
        position: absolute;
        top: 522px;
        left: 50%;
    }
    .tosignup__btn {
        left: 68%;
        top: 744px;
    }
}

@media (max-width: 848px) {
    .home__motivatetext {
        max-width: 634px;
        text-align: center;
        font-size: 23px;
        color: #E9FFE1;
        position: absolute;
        top: 370px;
        left: 50%;
    }
    .tosignup__btn {    
        left: 68%;
        top: 606px;
    }
}

@media (max-width: 848px) {
    .home__maintext {
        font-size: 85px;
        top: 240px;
        left: 7%;

    }
  }

  @media (max-width: 500px) {
    .home__motivatetext  {
        width: 508px;
        text-align: center;
        font-size: 29px;
        color: #E9FFE1;
        position: absolute;
        top: 379px;
        left: 27%;
    }
    .tosignup__btn {    
        left: 68%;
        top: 606px;
    }
}