.menuable_body {
    margin: 0;
    font-family: 'Prosto One';
    background: url("../../../img/Frame2.png") no-repeat top; 
    background-color: #002422;
    min-width: 630px;
    min-height: 500px;
    /*background-size: 100% 100%;*/
  }

  .lang_dropdown {
    position: absolute;
    top: 5px;
    right: 85px;
    padding: 3px;
  }
  .lang__btn {
    font-size: 12px;
  }

  .menu__row {
    position: absolute;
    right: 25px;
  }

  ul.header li {
    display: inline;
    list-style-type: none;
    margin: 0;
  }
  ul.header {
    text-align: right;
    padding: 0;
    position: relative;
    top: 10%;
    right:150px;
  }
  ul.header li a {
    font-weight: bold;
    text-decoration: none;
    padding: 35px 20px 35px 20px;
    display: inline-block;
    font-size:24px;
    color: #D9FFD1;
    cursor: pointer;
  }

  ul.header li a:hover {
    color: #ffFFff;
  }

  .content li {
    margin-bottom: 10px;
  }
  .tologin__btn {
    position: absolute;
    top: 42px;
    right: 25px;
  }
  
  @media (max-width: 848px) {
    .menuable_body {
        background-size: 850px 640px; /* Force the image to its minimum width */
    }
    ul.header li a {
      padding: 20px 15px 20px 15px;
      font-size:18px;
    }
    .menu__row {
      right: 0px;
    }
    .tologin__btn {
      top: 27px;
      right: 10px;
    }
    ul.header {
      top: 5%;
      right:120px;
    }
}

@media (max-width: 500px) {
  .menuable_body {
      background-size: 850px 640px; /* Force the image to its minimum width */
  }
  ul.header li a {
    padding: 20px 15px 20px 15px !important;
    font-size:18px;
  }
  .menu__row {
    right: 0px;
  }
  .tologin__btn {
    top: 27px;
    right: -130px;
  }
  ul.header {
    top: 5%;
    left:10px;
  }
}

