
html {
  height: 100%;
}

body {
  margin: 0;
  font-family: 'Prosto One';
  background: url("./img/Frame1.png") no-repeat bottom center/cover;
  background-size: 100% 100%;
  min-width: 630px;
  height: 100%;
}


code {
  font-family: 'Prosto One';
}


:root {
  font-size: 10px;
  background-color: #002422;
  background-image: url("./background.svg");
}

h1 {
  color: #adff00;
  text-align: left;
  opacity: 37%;
  margin: 0px 50px;
  font-size: 15px;
}

.field {
  margin:1rem 2rem 1rem 2rem;
  min-height: 97px;
}
.field.error {
  margin: 10px 20px -3px 20px;
}

.fields__error__text {
  color: red;
  font-size: 12px;
}

.checkBox > .field {
  min-height: 0px;
}

.registrationForm {
  width: 40rem;
  padding: 0px 0px;
  text-align: center;
  margin: 0 auto;
  position: relative;
 /* border: 3px solid #818181; */
}