.fullForm {
  width: 50rem;
  padding: 0px 0px;
  text-align: center;
  margin: 0 auto;
  position: relative;
 /* border: 3px solid #818181; */
}

.text {
  padding: 0px 0px;
}

.text p {
  text-align: center;
  color: white;
  font-size: 14px;
  margin: 3px;
}

h2 {
  color: #adff00;
  text-align: left;
  margin: -24px 70px;
  font-size: 50px;
  padding-bottom: 76px;
  padding-top: 40px;
  font-weight: bolder;
}

.checkBox {
    text-align: left;
    padding: 5px 64px;
    color: white;
    margin-top: -22px;
}  